@font-face {
  font-family: blenda;
  src: url("../fonts/blenda.otf");
}

body {
  margin: 0;
}

.splash {
  -webkit-align-items: center;
  align-items: center;
  background-size: 100% 100%;
  background-image: url("../images/rays.png");
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-family: "blenda";
  height: 100%;
  -webkit-justify-content: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.logo {
  color: #f75121;
  font-size: 20vw;
  text-shadow: 2px 2px white;
}

.subtext {
  color: white;
  font-size: 5vw;
}
